In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
train_df = pd.read_csv("train_gbW7HTd.csv")
test_df = pd.read_csv("test_2AFBew7.csv")

In [4]:
train_df.drop('Age',axis=1),inplace = True

SyntaxError: can't assign to function call (<ipython-input-4-af61f1fcbf3a>, line 1)

In [15]:
print(train_df.head(35))
# print(test_df.head())

    ID  Age         Workclass     Education         Marital.Status  \
0    1   39         State-gov     Bachelors          Never-married
1    2   50  Self-emp-not-inc     Bachelors     Married-civ-spouse
2    3   38           Private       HS-grad               Divorced
3    4   53           Private          11th     Married-civ-spouse
4    5   28           Private     Bachelors     Married-civ-spouse
5    6   37           Private       Masters     Married-civ-spouse
6    7   49           Private           9th  Married-spouse-absent
7    8   52  Self-emp-not-inc       HS-grad     Married-civ-spouse
8    9   31           Private       Masters          Never-married
9   10   42           Private     Bachelors     Married-civ-spouse
10  11   37           Private  Some-college     Married-civ-spouse
11  12   30         State-gov     Bachelors     Married-civ-spouse
12  13   23           Private     Bachelors          Never-married
13  14   32           Private    Assoc-acdm          Never-married
14  15   40           Private     Assoc-voc     Married-civ-spouse
15  16   34           Private       7th-8th     Married-civ-spouse
16  17   25  Self-emp-not-inc       HS-grad          Never-married
17  18   32           Private       HS-grad          Never-married
18  19   38           Private          11th     Married-civ-spouse
19  20   43  Self-emp-not-inc       Masters               Divorced
20  21   40           Private     Doctorate     Married-civ-spouse
21  22   54           Private       HS-grad              Separated
22  23   35       Federal-gov           9th     Married-civ-spouse
23  24   43           Private          11th     Married-civ-spouse
24  25   59           Private       HS-grad               Divorced
25  26   56         Local-gov     Bachelors     Married-civ-spouse
26  27   19           Private       HS-grad          Never-married
27  28   54           Private  Some-college     Married-civ-spouse
28  29   39           Private       HS-grad               Divorced
29  30   49           Private       HS-grad     Married-civ-spouse
30  31   23         Local-gov    Assoc-acdm          Never-married
31  32   20           Private  Some-college          Never-married
32  33   45           Private     Bachelors               Divorced
33  34   30       Federal-gov  Some-college     Married-civ-spouse
34  35   22         State-gov  Some-college     Married-civ-spouse

           Occupation   Relationship                Race     Sex  \
0        Adm-clerical  Not-in-family               White    Male
1     Exec-managerial        Husband               White    Male
2   Handlers-cleaners  Not-in-family               White    Male
3   Handlers-cleaners        Husband               Black    Male
4      Prof-specialty           Wife               Black  Female
5     Exec-managerial           Wife               White  Female
6       Other-service  Not-in-family               Black  Female
7     Exec-managerial        Husband               White    Male
8      Prof-specialty  Not-in-family               White  Female
9     Exec-managerial        Husband               White    Male
10    Exec-managerial        Husband               Black    Male
11     Prof-specialty        Husband  Asian-Pac-Islander    Male
12       Adm-clerical      Own-child               White  Female
13              Sales  Not-in-family               Black    Male
14       Craft-repair        Husband  Asian-Pac-Islander    Male
15   Transport-moving        Husband  Amer-Indian-Eskimo    Male
16    Farming-fishing      Own-child               White    Male
17  Machine-op-inspct      Unmarried               White    Male
18              Sales        Husband               White    Male
19    Exec-managerial      Unmarried               White  Female
20     Prof-specialty        Husband               White    Male
21      Other-service      Unmarried               Black  Female
22    Farming-fishing        Husband               Black    Male
23   Transport-moving        Husband               White    Male
24       Tech-support      Unmarried               White  Female
25       Tech-support        Husband               White    Male
26       Craft-repair      Own-child               White    Male
27     Prof-specialty        Husband  Asian-Pac-Islander    Male
28    Exec-managerial  Not-in-family               White    Male
29       Craft-repair        Husband               White    Male
30    Protective-serv  Not-in-family               White    Male
31              Sales      Own-child               Black    Male
32    Exec-managerial      Own-child               White    Male
33       Adm-clerical      Own-child               White    Male
34      Other-service        Husband               Black    Male

    Hours.Per.Week Native.Country Income.Group
0               40  United-States        <=50K
1               13  United-States        <=50K
2               40  United-States        <=50K
3               40  United-States        <=50K
4               40           Cuba        <=50K
5               40  United-States        <=50K
6               16        Jamaica        <=50K
7               45  United-States         >50K
8               50  United-States         >50K
9               40  United-States         >50K
10              80  United-States         >50K
11              40          India         >50K
12              30  United-States        <=50K
13              50  United-States        <=50K
14              40  United-States         >50K
15              45         Mexico        <=50K
16              35  United-States        <=50K
17              40  United-States        <=50K
18              50  United-States        <=50K
19              45  United-States         >50K
20              60  United-States         >50K
21              20  United-States        <=50K
22              40  United-States        <=50K
23              40  United-States        <=50K
24              40  United-States        <=50K
25              40  United-States         >50K
26              40  United-States        <=50K
27              60          South         >50K
28              80  United-States        <=50K
29              40  United-States        <=50K
30              52  United-States        <=50K
31              44  United-States        <=50K
32              40  United-States        <=50K
33              40  United-States        <=50K
34              15  United-States        <=50K

In [16]:
train_df.replace(to_replace='Self-emp-not-inc',value='NAN')

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
0,1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,NAN,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
5,6,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K
6,7,49,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K
7,8,52,NAN,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K
8,9,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K
9,10,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
10,11,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K
11,12,30,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,>50K
12,13,23,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,30,United-States,<=50K
13,14,32,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,50,United-States,<=50K
14,15,40,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,40,United-States,>50K
15,16,34,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,45,Mexico,<=50K
16,17,25,NAN,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,35,United-States,<=50K
17,18,32,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,40,United-States,<=50K
18,19,38,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,<=50K
19,20,43,NAN,Masters,Divorced,Exec-managerial,Unmarried,White,Female,45,United-States,>50K
20,21,40,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States,>50K
21,22,54,Private,HS-grad,Separated,Other-service,Unmarried,Black,Female,20,United-States,<=50K
22,23,35,Federal-gov,9th,Married-civ-spouse,Farming-fishing,Husband,Black,Male,40,United-States,<=50K
23,24,43,Private,11th,Married-civ-spouse,Transport-moving,Husband,White,Male,40,United-States,<=50K
24,25,59,Private,HS-grad,Divorced,Tech-support,Unmarried,White,Female,40,United-States,<=50K
25,26,56,Local-gov,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K
26,27,19,Private,HS-grad,Never-married,Craft-repair,Own-child,White,Male,40,United-States,<=50K
27,28,54,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,60,South,>50K
28,29,39,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,White,Male,80,United-States,<=50K
29,30,49,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
32531,32532,30,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,99,United-States,<=50K
32532,32533,34,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States,>50K
32533,32534,54,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,50,Japan,>50K
32534,32535,37,Private,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,39,United-States,<=50K
32535,32536,22,Private,12th,Never-married,Protective-serv,Own-child,Black,Male,35,United-States,<=50K
32536,32537,34,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,55,United-States,>50K
32537,32538,30,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,46,United-States,<=50K
32538,32539,38,Private,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,45,United-States,>50K
32539,32540,71,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,10,United-States,>50K
32540,32541,45,State-gov,HS-grad,Separated,Adm-clerical,Own-child,White,Female,40,United-States,<=50K
32541,32542,41,Private,HS-grad,Separated,Prof-specialty,Not-in-family,Black,Female,32,United-States,<=50K
32542,32543,72,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,25,United-States,<=50K
32543,32544,45,Local-gov,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,48,United-States,<=50K
32544,32545,31,Private,Masters,Divorced,Other-service,Not-in-family,Other,Female,30,United-States,<=50K
32545,32546,39,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,20,United-States,>50K
32546,32547,37,Private,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,40,United-States,<=50K
32547,32548,43,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,Mexico,<=50K
32548,32549,65,NAN,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,60,United-States,<=50K
32549,32550,43,State-gov,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,40,United-States,<=50K
32550,32551,43,NAN,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,<=50K
32551,32552,32,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,40,United-States,<=50K
32552,32553,43,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,45,United-States,<=50K
32553,32554,32,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,11,Taiwan,<=50K
32554,32555,53,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
32555,32556,22,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,<=50K
32556,32557,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
32557,32558,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
32558,32559,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
32559,32560,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
32560,32561,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [7]:
print(train_df.shape)
print(test_df.shape)

(32561, 12)
(16281, 11)

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 12 columns):
ID                32561 non-null int64
Age               32561 non-null int64
Workclass         30725 non-null object
Education         32561 non-null object
Marital.Status    32561 non-null object
Occupation        30718 non-null object
Relationship      32561 non-null object
Race              32561 non-null object
Sex               32561 non-null object
Hours.Per.Week    32561 non-null int64
Native.Country    31978 non-null object
Income.Group      32561 non-null object
dtypes: int64(3), object(9)
memory usage: 3.0+ MB

In [12]:
for value in ['Workclass','Occupation','Native.Country']:train_df[value].fillna(train_df[value].mode()[0],inplace = True)

In [13]:
train_df.isnull().sum()

ID                0
Age               0
Workclass         0
Education         0
Marital.Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Hours.Per.Week    0
Native.Country    0
Income.Group      0
dtype: int64

In [1]:
train_df.select_dtypes(include=["object"]).head()

NameError: name 'train_df' is not defined

In [12]:
for value in['Workclass','Occupation','Native.Country']:train_df[value].fillna(train_df[value].mode()[0],inplace = True)
for value in['Workclass','Occupation','Native.Country']:test_df[value].fillna(test_df[value].mode()[0],inplace = True)

In [13]:
train_df.isnull().sum()

ID                0
Age               0
Workclass         0
Education         0
Marital.Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Hours.Per.Week    0
Native.Country    0
Income.Group      0
dtype: int64

In [34]:
for label in list(train_df):
    if len(train_df[value].unique()) < 5:
        print(train_df[label].value_counts())
        print("\n")

In [25]:
dp = train_df + test_df

In [26]:
dp.head()

,Age,Education,Hours.Per.Week,ID,Income.Group,Marital.Status,Native.Country,Occupation,Race,Relationship,Sex,Workclass
0,64.0,Bachelors11th,80.0,32563.0,NaN,Never-marriedNever-married,United-StatesUnited-States,Adm-clericalMachine-op-inspct,WhiteBlack,Not-in-familyOwn-child,MaleMale,State-govPrivate
1,88.0,BachelorsHS-grad,63.0,32565.0,NaN,Married-civ-spouseMarried-civ-spouse,United-StatesUnited-States,Exec-managerialFarming-fishing,WhiteWhite,HusbandHusband,MaleMale,Self-emp-not-incPrivate
2,66.0,HS-gradAssoc-acdm,80.0,32567.0,NaN,DivorcedMarried-civ-spouse,United-StatesUnited-States,Handlers-cleanersProtective-serv,WhiteWhite,Not-in-familyHusband,MaleMale,PrivateLocal-gov
3,97.0,11thSome-college,80.0,32569.0,NaN,Married-civ-spouseMarried-civ-spouse,United-StatesUnited-States,Handlers-cleanersMachine-op-inspct,BlackBlack,HusbandHusband,MaleMale,PrivatePrivate
4,46.0,BachelorsSome-college,70.0,32571.0,NaN,Married-civ-spouseNever-married,CubaUnited-States,NaN,BlackWhite,WifeOwn-child,FemaleFemale,NaN

In [30]:
dp.shape

(32561, 12)